{% extends 'base.html' %}
<title>{% block title %}Empleados-Navegatel{% endblock %}</title>
{% block navegar %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\lista_empleados.css' %}">
<a href="{% url 'registro_empleado' %}" class="btn btn-primary register-btn">Registrar Empleados</a>
<h1 class="text-center">Lista de Empleados</h1>
<form method="GET" class="mb-4">
    <div class="form-group">
        <label for="search">Buscar en empleados:</label>
        <input type="text" class="form-control" id="search" name="search" placeholder="Nombre, Apellido, Correo, ...">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'lista_empleados' %}'">Limpiar</button>
</form>
<div class="empleados-lista">
    <div class="datagrid">
        <table class="empleados-table">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Rol</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Foto de DNI</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in page_obj %}
                <tr {% if forloop.counter|divisibleby:2 == 0 %}class="alt"{% endif %}>
                    <td>{{ empleado.get_full_name }}</td>
                    <td>{{ empleado.rol }}</td>
                    <td>{{ empleado.email }}</td>
                    <td>{{ empleado.telefono }}</td>
                    <td>
                        {% if empleado.foto_dni and empleado.foto_dni2 %}
                            <a href="{% url 'descargar_pdf' empleado.id %}" download><i class="fas fa-download"></i></a>
                        {% else %}
                            NO HAY DNI
                        {% endif %}
                    </td>
                    <td>
                        
                        <div class="dropdown">
                            <img src="https://cdn-icons-png.flaticon.com/512/2767/2767162.png" alt="Icon" class="dropdown-icon">
                            <div class="dropdown-content">
                                <a href="{% url 'perfil_empleado' empleado.id %}">Perfil</a>
                                <a href="#" class="slack-link">Mensajes</a>
                                <a href="{% url 'editar_empleado' empleado.id %}">Editar</a>
                                <a href="{% url 'eliminar_empleado' empleado.id %}">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination">
                            {% for num in page_obj.paginator.page_range %}
                                {% if num == page_obj.number %}
                                    <a href="?page={{ num }}" class="active">{{ num }}</a>
                                {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script>
        document.getElementById('search').addEventListener('keyup', function() {
            const searchValue = this.value;  // Obtener el valor actual del campo de búsqueda
    
            // Realizar una solicitud AJAX al servidor
            fetch(`{% url 'lista_empleados' %}?search=${searchValue}`)  // Asegúrate de que la URL es correcta
                .then(response => response.text())  // Convertir la respuesta a texto HTML
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const newBody = doc.querySelector('.empleados-lista');  // Seleccionar solo la parte de la lista de empleados
                    document.querySelector('.empleados-lista').innerHTML = newBody.innerHTML;
                })
                .catch(error => console.error('Error al cargar los empleados:', error));
        });
    </script>

    <script>
        document.querySelectorAll('.slack-link').forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                window.location.href = "slack://";
            });
        });
    </script>
    
{% endblock %}
