{% extends 'base.html' %}
<title>{% block title %}Cliente-Navegatel{% endblock %}</title>
{% block navegar %}

{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\lista_clientes.css' %}">
<a href="{% url 'registro_cliente' %}" class="btn btn-primary register-btn">Registrar Cliente</a>
<h1 class="text-center">Lista de Clientes</h1>
<form method="GET" class="mb-4">
    <div class="form-group">
        <label for="search">Buscar en clientes:</label>
        <input type="text" class="form-control" id="search" name="search" placeholder="Nombre, Razón Social, Correo, ...">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'lista_clientes' %}'">Limpiar</button>
</form>
<div class="clientes-lista">
    <div class="datagrid">
        <table class="clientes-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Nombre Comercial</th>
                    <th>NIF</th>
                    <th>Tipo</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                    <!-- Otros campos que quieras mostrar -->
                </tr>
            </thead>
            <tbody>
                {% for cliente in page_obj %}
                <tr {% if forloop.counter|divisibleby:2 == 0 %}class="alt"{% endif %}>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.nombre_comercial }}</td>
                    <td>{{ cliente.nif }}</td>
                    <td>{{ cliente.tipo }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>
                        <div class="dropdown-wrapper">
                            <img src="https://cdn-icons-png.flaticon.com/512/2767/2767162.png" alt="Icon" class="dropdown-icon">
                            <div class="dropdown-content">
                                <a href="{% url 'perfil_cliente' cliente.id %}">Información</a>
                                <a href="#">Mensajes</a>
                                <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
                                <a href="{% url 'eliminar_cliente' cliente.id %}">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        {% if page_obj.has_other_pages %}
        <div class="pagination">
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <a href="?page={{ num }}" class="active">{{ num }}</a>
                {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
</div>

    <script>
        document.getElementById('search').addEventListener('keyup', function() {
            const searchValue = this.value;  // Obtener el valor actual del campo de búsqueda
    
            // Realizar una solicitud AJAX al servidor
            fetch(`{% url 'lista_clientes' %}?search=${searchValue}`)  // Asegúrate de que la URL es correcta
                .then(response => response.text())  // Convertir la respuesta a texto HTML
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const newBody = doc.querySelector('.clientes-lista');  // Asegúrate de tener un contenedor con esta clase en tu HTML
                    document.querySelector('.clientes-lista').innerHTML = newBody.innerHTML;
                })
                .catch(error => console.error('Error al cargar los clientes:', error));
        });
    </script>
    
{% endblock %}
