{% extends 'base.html' %}

{% block navegar %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    /* Estilos para la tabla de proyectos */
    .proyectos-lista {
        margin: 0 auto;
        width: 100%; 
        /* Ancho del contenedor de la tabla ajustado */
    }

    .proyectos-table {
        width: 100%; /* Ancho de la tabla ajustado */
        border-collapse: collapse;
    }
    
    .proyectos-table th,
    .proyectos-table td {
        border: 1px solid #e0e0e0; /* Color de los bordes */
        padding: 12px; /* Espaciado interior */
        text-align: left;
    }
    
    .proyectos-table th {
        background-color: #f8f8f8; /* Color de fondo de las celdas del encabezado */
        font-weight: bold; /* Texto en negrita para el encabezado */
    }
    
    /* Estilos para resaltar al pasar el ratón sobre una fila */
    .proyectos-table tr:hover {
        background-color: #f2f2f2; /* Color de fondo al pasar el ratón */
    }
    .foto-empleado {
        width: 50px; /* Ancho deseado para las fotos */
        height: 50px; /* Altura deseada para las fotos */
        border-radius: 50%; /* Establecer bordes redondeados para que las fotos sean circulares */
        object-fit: cover; /* Ajustar la imagen para que cubra el contenedor manteniendo su relación de aspecto */
    }
</style>

{% endblock %}

{% block content %}
<a href="{% url 'registro_empleado' %}" class="btn btn-primary register-btn">Registrar Empleados</a>
<h1 class="text-center">Lista de Proyectos</h1>
<div class="proyectos-lista">
    <table class="proyectos-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Número de Acuerdo</th>
                <th>Cliente</th>
                <th>Estado</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Firma del Acuerdo</th>
                <th>Fecha de Facturación</th>
                <th>Número de Factura</th>
                <th>Fecha de Cobro IVA</th>
                <th>Empleados</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.descripcion }}</td>
                <td>{{ proyecto.fecha_inicio }}</td>
                <td>{{ proyecto.fecha_fin }}</td>
                <td>{{ proyecto.num_acuerdo }}</td>
                <td>{{ proyecto.cliente }}</td>
                <td>{{ proyecto.estado }}</td>
                <td>{{ proyecto.valor }} €</td>
                <td>{{ proyecto.tipo }}</td>
                <td>{{ proyecto.firma_acuerdo }}</td>
                <td>{{ proyecto.fecha_facturacion }}</td>
                <td>{{ proyecto.num_factura }}</td>
                <td>{{ proyecto.fecha_cobro_IVA }}</td>
                <td>
                    {% for empleado in proyecto.empleados.all %}
                        {% if empleado.foto %}
                            <img class="foto-empleado" src="{{ empleado.foto.url }}" alt="Foto de perfil">
                        {% else %}
                            <img class="foto-empleado" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm_dZsN8bn3WWbdZwDETNzxrfISm5YtAklrSYlSunDsg&s" alt="Foto de perfil predeterminada">
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
