/* Estilos para la tabla de empleados */
.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 20px auto; /* Espacio superior e inferior */
    background-color: #f9f9f9; /* Color de fondo más claro */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para darle profundidad */
}

.datagrid table td,
.datagrid table th {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Líneas divisorias más sutiles */
}

.datagrid table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C));
    background: -moz-linear-gradient(center top, #991821 5%, #80141C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color: #991821;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; /* Texto en mayúsculas */
}

.datagrid table thead th:first-child {
    border-top-left-radius: 6px; /* Bordes redondeados */
}

.datagrid table thead th:last-child {
    border-top-right-radius: 6px;
}

.datagrid table tbody tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el cursor */
}

.datagrid table tbody td {
    color: #80141C;
    font-size: 14px;
    vertical-align: middle; /* Alineación vertical */
    border-left: 1px solid #F7CDCD;
}

.datagrid table tbody .alt td {
    background: #F7CDCD; /* Color de fondo para números impares */
    color: #80141C;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td {
    padding: 10px 15px;
    background-color: #f1f1f1;
    border-top: 2px solid #991821; /* Línea superior destacada */
    text-align: right;
}

.datagrid table tfoot .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.datagrid table tfoot .pagination li {
    display: inline;
    margin: 0 5px;
}

.datagrid table tfoot .pagination a {
    text-decoration: none;
    padding: 8px 12px;
    color: white;
    background-color: #991821;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.datagrid table tfoot .pagination a.active,
.datagrid table tfoot .pagination a:hover {
    background-color: #80141C;
}

.foto-empleado-modal {
    width: 50px; /* Tamaño deseado para las imágenes */
    height: 50px; /* Tamaño deseado para las imágenes */
    border-radius: 50%; /* Hace que las imágenes sean redondas */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
    margin-right: 5px; /* Espacio entre las imágenes */
    margin-bottom: 5px; /* Espacio entre las imágenes */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    z-index: 1;
    border-radius: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-icon {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.datagrid table tbody tr {
    color: #80141C;
    border-left: 1px solid #F7CDCD;
    font-size: 12px;
    font-weight: normal;
}

.foto-empleado-container {
    position: relative;
    display: flex; /* Añade flex para alinear las imágenes horizontalmente */
    flex-wrap: nowrap; /* Evita que las imágenes se envuelvan a la siguiente línea */
}

.foto-empleado {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    position: relative; /* Cambia a relative para permitir el ajuste con flex */
    margin-right: -10px; /* Ajusta el margen derecho para superponer las imágenes */
    border: 2px solid white; /* Añade un borde blanco */
}

.contador-empleados {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
    margin-right: -10px;
    border: 2px solid white; /* Añade un borde blanco */
}

.proyectos-lista .datagrid table {
    max-width: 90%; /* Cambia este valor según tus necesidades */
    margin: 20px auto; /* Centra la tabla horizontalmente */
}
